<EditForm Model="Vm" OnValidSubmit="Submit">

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="position">Позиция по проекту</label>
        </div>
        <div class="col-sm-4">
            <InputText id="position" class="form-control" disabled="@Disabled" @bind-Value="Vm.Position"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="serial-number">Серийный номер</label>
        </div>
        <div class="col-sm-4">
            <InputText id="serial-number" class="form-control" disabled="@Disabled" @bind-Value="Vm.SerialNumber"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-type">Тип прибора</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-type" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceType"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-model">Модель прибора</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-model" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceModel"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="min-value">Нижний диапазон измерений</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="min-value" class="form-control" disabled="@Disabled" @bind-Value="Vm.MinValue"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="max-value">Нижний диапазон измерений</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="max-value" class="form-control" disabled="@Disabled" @bind-Value="Vm.MaxValue"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="k-factor">К-фактор</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="k-factor" class="form-control" disabled="@Disabled" @bind-Value="Vm.Kfactor"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="eu">Единицы измерения</label>
        </div>
        <div class="col-sm-4">
            <InputSelect id="eu" class="form-control" disabled="@Disabled" @bind-Value="Vm.EU">
                <option value="м3">м3</option>
                <option value="тыс.м3">тыс.м3</option>
                <option value="Т">Т</option>
                <option value="кг">кг</option>
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="signal-type">Способ подключения</label>
        </div>
        <div class="col-sm-4">
            <InputSelect id="signal-type" class="form-control" disabled="@Disabled" @bind-Value="Vm.SignalType">
                <option value="@SignalType.Frequency">@SignalType.Frequency.GetDisplayName()</option>
                <option value="@SignalType.RS485">@SignalType.RS485.GetDisplayName()</option>
            </InputSelect>
        </div>
        @if (Vm.SignalType == SignalType.RS485)
        {
            <div class="col-sm-4">
                <InputNumber id="slave-id" class="form-control" disabled="@Disabled" @bind-Value="Vm.ModbusSettings.Address"></InputNumber>
                <InputSelect id="baud-rate" class="form-control" disabled="@Disabled" @bind-Value="Vm.ModbusSettings.BoudRate">
                    <option value="9600">9600</option>
                    <option value="19200">19200</option>
                    <option value="38400">38400</option>
                    <option value="57600">57600</option>
                    <option value="115200">115200</option>
                </InputSelect>
                <InputSelect id="parity" class="form-control" disabled="@Disabled" @bind-Value="Vm.ModbusSettings.Parity">
                    @foreach (Parity item in Enum.GetValues(typeof(Parity)))
                        {
                        <option value="@item">@item</option>
                        }
                </InputSelect>
                <InputSelect id="data-bits" class="form-control" disabled="@Disabled" @bind-Value="Vm.ModbusSettings.DataBits">
                    <option value="7">7</option>
                    <option value="8">8</option>
                </InputSelect>
                <InputSelect id="stop-bit" class="form-control" disabled="@Disabled" @bind-Value="Vm.ModbusSettings.StopBit">
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                </InputSelect>
            </div>
        }
    </div>

</EditForm>

@code {
    [Parameter]
    public FlowmeterVm Vm { get; set; }

    public bool Disabled { get; set; } = true;

    void Submit()
    {

    }
}
