<EditForm Model="Vm" OnValidSubmit="Submit">

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="position">Позиция по проекту</label>
        </div>
        <div class="col-sm-4">
            <InputText id="position" class="form-control" disabled="@Disabled" @bind-Value="Vm.Position"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="serial-number">Серийный номер</label>
        </div>
        <div class="col-sm-4">
            <InputText id="serial-number" class="form-control" disabled="@Disabled" @bind-Value="Vm.SerialNumber"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-type">Тип прибора</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-type" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceType"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-model">Модель прибора</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-model" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceModel"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="min-value">Нижний диапазон измерений</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="min-value" class="form-control" disabled="@Disabled" @bind-Value="Vm.MinValue"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="max-value">Нижний диапазон измерений</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="max-value" class="form-control" disabled="@Disabled" @bind-Value="Vm.MaxValue"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="eu">Единицы измерения</label>
        </div>
        <div class="col-sm-4">
            <InputSelect id="eu" class="form-control" disabled="@Disabled" @bind-Value="Vm.EU">
                <option value="Град С.">Град С.</option>
                <option value="МПа">МПа</option>
                <option value="кПа">кПа</option>
                <option value="кгс/м2">кгс/м2</option>
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="signal-type">Способ подключения</label>
        </div>
        <div class="col-sm-4">
            <InputSelect id="signal-type" class="form-control" disabled="@Disabled" @bind-Value="Vm.SignalType">
                <option value="@SignalType.Current">@SignalType.Current.GetDisplayName()</option>
                <option value="@SignalType.Voltage">@SignalType.Voltage.GetDisplayName()</option>
                <option value="@SignalType.HART">@SignalType.HART.GetDisplayName()</option>
            </InputSelect>
        </div>
    </div>

</EditForm>
@code {
    [Parameter]
    public MeasurementVm Vm { get; set; }

    public bool Disabled { get; set; } = true;

    void Submit()
    {

    }
}
