
<tr>
    <td class="pr-4 font-weight-bold">Позиция по проекту</td>
    <td><span class="">@Vm.Position</span></td>
</tr>
<tr>
    <td class="pr-4 font-weight-bold">Серийный номер</td>
    <td><span class="">@Vm.SerialNumber</span></td>
</tr>
<tr>
    <td class="pr-4 font-weight-bold">Тип прибора</td>
    <td><span class="">@Vm.DeviceType</span></td>
</tr>
<tr>
    <td class="pr-4 font-weight-bold">Модель прибора</td>
    <td><span class="">@Vm.DeviceModel</span></td>
</tr>
<tr>
    <td class="pr-4 font-weight-bold">Шкала измерений</td>
    <td><span class="">@Vm.MinValue ... @Vm.MaxValue @Vm.EU</span></td>
</tr>
<tr>
    <td class="pr-4 font-weight-bold">Тип подключения</td>
    <td><span class="">@Vm.SignalType.GetDisplayName()</span></td>
</tr>

@code {

    [Parameter] public MeasurementVm Vm { get; set; }

}
