
<EditForm Model="Vm" OnValidSubmit="Submit">

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="position">Позиция по проекту</label>
        </div>
        <div class="col-sm-4">
            <InputText id="position" class="form-control" disabled="@Disabled" @bind-Value="Vm.Position"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="serial-number">Серийный номер</label>
        </div>
        <div class="col-sm-4">
            <InputText id="serial-number" class="form-control" disabled="@Disabled" @bind-Value="Vm.SerialNumber"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-type">Тип устройства</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-type" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceType"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-model">Модель устройства</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-model" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceModel"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="mask">Маска подсети</label>
        </div>
        <div class="col-sm-4">
            <InputText id="mask" class="form-control" disabled="@Disabled" @bind-Value="Vm.Mask"></InputText>
        </div>
    </div>

    <hr/>

    <MatTable Items="Vm.NetworkDevices" Striped="true" Class="mat-elevation-z5" ShowPaging="false" ShowFooter="false">
        <MatTableHeader>
            <th style="min-width:250px;">Название</th>
            <th style="min-width:150px;">IP</th>
            <th style="min-width:150px;">MAC-адрес</th>
        </MatTableHeader>
        <MatTableRow Context="item">
            <td>@item.Name</td>
            <td>@item.IP</td>
            <td>@item.MacAddress</td>
        </MatTableRow>
    </MatTable>

</EditForm>

@code {
    [Parameter]
    public NetworkHardwareVm Vm { get; set; }

    public bool Disabled { get; set; } = true;

    void Submit()
    {

    }
}
