@inject HttpClient HttpClient


<EditForm Model="Command" style="min-width:800px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <h5>Шаг 1. Выберите тип оборудования:</h5>

    <MatSelectItem @bind-Value="Command.HardwareType" Items="Enum.GetValues(typeof(HardwareType)).Cast<HardwareType>().ToArray()" Outlined="true" FullWidth="true">
        <ItemTemplate Context="type">
            @type.GetDisplayName()
        </ItemTemplate>
    </MatSelectItem>
    <hr />

    <div class="row">
        <div class="col">
            <h5>Шаг 2. Параметры оборудования:</h5>
            <div class="border p-2">
                @switch (Command.HardwareType)
                {
                    case HardwareType.Cabinet:
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Ответственный за монтаж" @bind-Value="Command.ConstructedBy" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.ConstructedBy"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatDatePicker Label="Дата завершения монтажа" AllowInput="false" @bind-Value="Command.Constructed" Outlined="true" Style="width: 100%;"></MatDatePicker>
                                <ValidationMessage For="()=> Command.Constructed"></ValidationMessage>
                            </div>
                        </div>
                        break;

                    case HardwareType.FlowComputer:
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Модель контроллера" @bind-Value="Command.DeviceModel" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="IP адрес" @bind-Value="Command.IPAddress" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.IPAddress"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Версия сборки" @bind-Value="Command.AssemblyVersion" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.AssemblyVersion"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Контрольная сумма" @bind-Value="Command.CRC32" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.CRC32"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatNumericUpDownField Label="Дата последней конфигурации" @bind-Value="Command.LastConfigDate"
                                                       DecimalPlaces="0" Outlined="true" Style="width: 100%;"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.LastConfigDate"></ValidationMessage>
                            </div>
                        </div>
                        break;

                    case HardwareType.Flowmeter:

                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatNumericUpDownField Label="Нижний предел измерений" @bind-Value="Command.MinValue"
                                                       DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.MinValue"></ValidationMessage>
                            </div>
                            <div class="col">
                                <MatNumericUpDownField Label="Верхний предел измерений" @bind-Value="Command.MaxValue"
                                                       DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.MaxValue"></ValidationMessage>
                            </div>
                            <div class="col">
                                <MatSelect Label="Единицы измерения" @bind-Value="Command.EU" Outlined="true" FullWidth="true">
                                    <MatOptionString Value="м3">м3</MatOptionString>
                                    <MatOptionString Value="тыс.м3">тыс.м3</MatOptionString>
                                    <MatOptionString Value="Т">Т</MatOptionString>
                                    <MatOptionString Value="кг">кг</MatOptionString>
                                </MatSelect>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatNumericUpDownField Label="К-фактор" @bind-Value="Command.KFactor"
                                                       DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.KFactor"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" FullWidth="true" Items="Signals">
                                    <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                                </MatSelectItem>
                            </div>
                        </div>
                        break;

                    case HardwareType.Network:
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Маска подсети" @bind-Value="Command.Mask" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.Mask"></ValidationMessage>
                            </div>
                        </div>
                        break;

                    case HardwareType.PLC:
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Модель контроллера" @bind-Value="Command.DeviceModel" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="IP адрес" @bind-Value="Command.IPAddress" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.IPAddress"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatTextField Label="Версия сборки" @bind-Value="Command.AssemblyVersion" Outlined="true" Style="width: 100%;"></MatTextField>
                                <ValidationMessage For="()=> Command.AssemblyVersion"></ValidationMessage>
                            </div>
                        </div>
                        break;

                    case HardwareType.Pressure:
                    case HardwareType.Temperature:
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatNumericUpDownField Label="Нижний предел измерений" @bind-Value="Command.MinValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.MinValue"></ValidationMessage>
                            </div>
                            <div class="col">
                                <MatNumericUpDownField Label="Верхний предел измерений" @bind-Value="Command.MaxValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                                <ValidationMessage For="()=> Command.MaxValue"></ValidationMessage>
                            </div>
                            <div class="col">
                                <MatSelect Label="Единицы измерения" @bind-Value="Command.EU" Outlined="true" FullWidth="true">
                                    @if (Command.HardwareType == HardwareType.Pressure)
                                            {
                                        <MatOptionString Value="МПа">МПа</MatOptionString>
                                        <MatOptionString Value="кПа">кПа</MatOptionString>
                                        <MatOptionString Value="кгс/м2">кгс/м2</MatOptionString>
                                            }
                                            else
                                            {
                                        <MatOptionString Value="МПа">Град С.</MatOptionString>
                                            }
                                </MatSelect>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" FullWidth="true" Items="Signals">
                                    <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                                </MatSelectItem>
                            </div>
                        </div>
                        break;

                    case HardwareType.Valve:
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Тип крана" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <MatTextField Label="Модель крана" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                                <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" FullWidth="true" Items="Signals">
                                    <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                                </MatSelectItem>
                            </div>
                        </div>
                        break;
                }
            </div>
        </div>
        @if (Command.HardwareType == HardwareType.Network)
        {
            <div class="col">
                <h5>Подключенное оборудование:</h5>
                <div class="border p-2">
                    <div class="row">
                        <div class="col py-2">
                            <MatButton Type="button" @onclick="AddNetworkDevice" Raised="true" Style="width:100%;">Добавить</MatButton>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table table-sm table-striped table-hover" style="min-width:500px;">
                                <thead>
                                    <tr>
                                        <th class="w-50">Название</th>
                                        <th class="w-25">IP</th>
                                        <th class="w-25">MAC-адрес</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Command.NetworkDevices)
                                    {
                                        <tr>
                                            <td class="w-50">@item.Name</td>
                                            <td class="w-25">@item.IP</td>
                                            <td class="w-25">@item.MacAddress</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if(Command.HardwareType == HardwareType.Flowmeter || Command.HardwareType == HardwareType.Valve)
        {
            if (Command.SignalType == SignalType.RS485)
            {
                <div class="col-sm-4">
                    <h5>Шаг 3. Настройки Modbus</h5>
                    <ModbusSettings Settings="Command.ModbusSettings" OnSettingsChanged="ChangeSettings"></ModbusSettings>
                </div>
            }
        }
    </div>

    <hr />
    <MatButton type="submit" Raised="true" Style="width: 100%;" Icon="add"> Добавить</MatButton>

</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [CascadingParameter]
    IModalService Modal { get; set; }

    [Parameter]
    public string ContractId { get; set; }

    protected SignalType[] Signals { get; set; }

    protected CreateHardwareVm Command { get; set; }

    protected override void OnInitialized()
    {
        Signals = Enum.GetValues(typeof(SignalType)).Cast<SignalType>().ToArray();
        Command = new CreateHardwareVm();
        Command.ContractId = int.Parse(ContractId);
    }

    private void ChangeSettings(ModbusSettingsVm settings)
    {
        Command.ModbusSettings = settings;
    }

    protected async Task Submit()
    {
        var hardwareId = await HttpClient.PostJsonAsync<int>("api/hardware", Command);

        await BlazoredModal.Close(ModalResult.Ok(hardwareId));
    }

    private async Task AddNetworkDevice()
    {
        var modalForm = Modal.Show<AddNetworkDeviceModal>("");
        var result = await modalForm.Result;

        if (!result.Cancelled)
        {
            var device = (NetworkDeviceDto)result.Data;
            Command.NetworkDevices.Add(device);
        }
    }
}
