@page "/contracts"

@if (ContractsList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="alert section-header mat-elevation-z5">
        <div class="row">
            <div class="col">
                <h3>Список договоров</h3>
            </div>
        </div>
    </div>
    <div class="table-container contract-table mat-elevation-z5">
        <table class="table table-hover app-table">
            <thead class="mat-elevation-z5">
                <tr>
                    <th scope="row" @onclick="@(()=>SortTable("HasProtocol"))">Заводские испытания <span class="oi @(SetSortIcon("HasProtocol"))"/></th>
                    <th scope="row" @onclick="@(()=>SortTable("LastChanges"))">Дата последних изменений <span class="oi @(SetSortIcon("LastChanges"))"/></th>
                    <th scope="row" @onclick="@(()=>SortTable("ContractNumber"))">Номер договора <span class="oi @(SetSortIcon("ContractNumber"))"/></th>
                    <th scope="row" @onclick="@(()=>SortTable("DomesticNumber"))">Внутренний номер договора <span class="oi @(SetSortIcon("DomesticNumber"))"/></th>
                    <th scope="row" @onclick="@(()=>SortTable("ProjectNumber"))">Номер проекта <span class="oi @(SetSortIcon("ProjectNumber"))"/></th>
                    <th scope="row" @onclick="@(()=>SortTable("Name"))">Название <span class="oi @(SetSortIcon("Name"))"/></th>
                    <AuthorizeView Roles="Admin">
                        <th scope="row"></th>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ContractsList.Contracts)
                {
                    <tr @ondblclick="()=>NavigateTo(item.Id)">
                        <td class="@(item.HasProtocol ? "green-color" : "red-color")">@(item.HasProtocol ? "Завершены" : "Не завершены")</td>
                        <td>@item.LastChanges.ToShortDateString()</td>
                        <td>@item.ContractNumber</td>
                        <td>@item.DomesticNumber</td>
                        <td>@item.ProjectNumber</td>
                        <td>@item.Name</td>
                        <AuthorizeView Roles="Admin, SuperUser">
                            <td>
                                <button class="btn btn-sm m-1 btn-outline-secondary" @onclick="@(async ()=> await EditContract(item.Id))"><span class="oi oi-pencil"></span></button>
                                @if (!context.User.IsInRole("SuperUser"))
                                {
                                    <button class="btn btn-sm m-1 btn-outline-danger" @onclick="@(async ()=> await DeleteContract(item.Id))"><span class="oi oi-trash"></span></button>
                                }
                            </td>
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
