@page "/contract/{id}/detail"


@if (Contract == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="alert section-header mat-elevation-z5">
        <h3>Информация о договоре</h3>
        <hr />
        <div class="row">
            <div class="col-xl">
                <div class="alert border contract-info-panel">
                    <table>
                        <tbody>
                            <tr>
                                <td class="pr-4 font-weight-bold">Название</td>
                                <td>@Contract.Name</td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Номер договора</td>
                                <td>@Contract.ContractNumber</td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Внутренний номер договора</td>
                                <td>@Contract.DomesticNumber</td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Внутренний номер проекта</td>
                                <td>@Contract.ProjectNumber</td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Заводские испытания</td>
                                <td class="@ProtocolCss">@(Contract.HasProtocol ? "Завершены": "Не завершены")</td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Добавлен</td>
                                <td>@Contract.Created.ToString("dd/MM/yyyy - HH:mm:ss") (@Contract.CreatedBy) </td>
                            </tr>
                            <tr>
                                <td class="pr-4 font-weight-bold">Изменен</td>
                                <td>@(Contract.LastModified != null ? $"{Contract.LastModified?.ToString("dd/MM/yyyy - HH:mm:ss")} ({Contract.LastModifiedBy})" : "----")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="d-flex flex-column flex-lg-row flex-xl-column control-panel">
                    <AuthorizeView Roles="Admin">
                        <button class="btn btn-header text-nowrap mr-lg-1" @onclick="AddHardware"><span class="oi oi-monitor mr-2" aria-hidden="true"></span> Новое оборудование</button>
                        <label for="import-file" class="btn btn-header text-nowrap mr-lg-1"><span class="oi oi-cloud-upload mr-2" aria-hidden="true"></span> Импортировать из файла</label>
                        <InputFile accept="text/xml" id="import-file" class="d-none" OnChange="ImportHardwareAsync"></InputFile>
                        <button class="btn btn-header text-nowrap mr-lg-1" @onclick="AddSoftware"><span class="oi oi-code mr-2" aria-hidden="true"></span> Новое ПО</button>
                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, SuperUser">
                        <button class="btn btn-header text-nowrap mr-lg-1" @onclick="AddDocument"><span class="oi oi-task mr-2" aria-hidden="true"></span> Создать протокол</button>
                    </AuthorizeView>
                    <AuthorizeView>
                        <button class="btn btn-success text-nowrap mr-lg-1" @onclick="DownloadFile" disabled="@(Contract.HasProtocol == false)"><span class="oi oi-cloud-download mr-2" aria-hidden="true"></span> Скачать протокол</button>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <h5>Список оборудования:</h5>
            <div class="table-container hardware-table mat-elevation-z5">
                <table class="table table-hover app-table">
                    <thead class="mat-elevation-z5">
                        <tr>
                            <th scope="row">Тип</th>
                            <th scope="row">Позиция</th>
                            <th scope="row">Серийный номер</th>
                            <AuthorizeView Roles="Admin, SuperUser">
                                <th scope="row"></th>
                            </AuthorizeView>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Contract.HardwareList)
                        {
                            <tr @ondblclick="()=>NavigateTo(item.Id)">
                                <td>@item.HardwareType.GetDisplayName()</td>
                                <td>@item.Position</td>
                                <td>@item.SerialNumber</td>
                                <AuthorizeView Roles="Admin, SuperUser">
                                    <td>
                                        <button class="btn btn-sm m-1 btn-outline-secondary" @onclick="@(async ()=> await EditHardware(item.Id))"><span class="oi oi-pencil"></span></button>
                                        @if (!context.User.IsInRole("SuperUser"))
                                        {
                                            <button class="btn btn-sm m-1 btn-outline-danger" @onclick="@(async ()=> await DeleteHardware(item.Id))"><span class="oi oi-trash"></span></button>
                                        }
                                    </td>
                                </AuthorizeView>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl">
            <h5>Список программного обеспечения:</h5>
            <div class="table-container hardware-table mat-elevation-z5">
                <table class="table table-hover app-table">
                    <thead class="mat-elevation-z5">
                        <tr>
                            <th scope="row">Тип</th>
                            <th scope="row">Название</th>
                            <th scope="row">Версия</th>
                            <AuthorizeView Roles="Admin, SuperUser">
                                <th scope="row"></th>
                            </AuthorizeView>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Contract.SoftwareList)
                        {
                            <tr>
                                <td>@item.SoftwareType.GetDisplayName()</td>
                                <td>@item.Name</td>
                                <td>@item.Version</td>
                                <AuthorizeView Roles="Admin, SuperUser">
                                    <td>
                                        <button class="btn btn-sm m-1 btn-outline-secondary" @onclick="@(async ()=> await EditSoftware(item.Id))"><span class="oi oi-pencil"></span></button>
                                        @if (!context.User.IsInRole("SuperUser"))
                                        {
                                            <button class="btn btn-sm m-1 btn-outline-danger" @onclick="@(async ()=> await DeleteSoftware(item.Id))"><span class="oi oi-trash"></span></button>
                                        }
                                    </td>
                                </AuthorizeView>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

