@page "/contracts"
@attribute [Authorize]

@using CheckerApp.Client.Shared.Modal

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IModalService Modal


@if (ContractsList == null)
{
    <div class="spinner"></div>
}
else
{
    <h1>Список договоров</h1>
    <hr />
    <div class="py-2">
        <button class="btn btn-primary" @onclick="AddContract"><span class="oi oi-plus" aria-hidden="true"></span> Новый договор</button>
    </div>
    <MatTable Items="@ContractsList.Contracts" Class="mat-elevation-z5" Striped="true" AllowSelection="true" 
              ShowPaging="false" ShowFooter="false" OnRowDbClick="(item)=> NavigateTo(((ContractDto)item).Id)">
        <MatTableHeader>
            <th style="min-width:250px;">Номер договора</th>
            <th style="min-width:250px;">Внутренний номер</th>
            <th>Название</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ContractNumber</td>
            <td>@context.DomesticNumber</td>
            <td>@context.Name</td>
            <td>
                <button class="btn btn-secondary" @onclick="@(async ()=> await EditContract(context.Id))"><span class="oi oi-pencil"></span> Редактировать</button>
                <button class="btn btn-danger" @onclick="@(async ()=> await DeleteContract(context.Id))"><span class="oi oi-trash"></span> Удалить</button>
            </td>
        </MatTableRow>
    </MatTable>
}

@code {

    ContractsListVm ContractsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ContractsList = await HttpClient.GetFromJsonAsync<ContractsListVm>("api/contract");
    }

    private void NavigateTo(int id)
    {
        NavigationManager.NavigateTo($"/contract/{id}/detail");
    }

    private async Task AddContract()
    {
        var formModal = Modal.Show<AddContractModal>("Новый договор");
        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            ContractsList = await HttpClient.GetFromJsonAsync<ContractsListVm>("api/contract");
        }
    }

    private Task EditContract(int id)
    {
        //await HttpClient.PutAsJsonAsync("");
        return Task.CompletedTask;
    }

    private async Task DeleteContract(int id)
    {
        await HttpClient.DeleteAsync($"api/contract/{id}");

        ContractsList = await HttpClient.GetFromJsonAsync<ContractsListVm>("api/contract");
    }
}
