@page "/contracts"

@if (ContractsList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="alert section-header mat-elevation-z5">
        <div class="row">
            <div class="col">
                <h3>Список договоров</h3>
            </div>
            @*<div class="col-2 control-panel d-flex justify-content-end">
                <button type="submit" class="btn btn-primary my-auto shadow"><span class="oi oi-document"></span> Новый договор</button>
            </div>*@
        </div>
    </div>
    <div class="table-container contract-table mat-elevation-z5">
        <table class="table table-hover app-table">
            <thead class="mat-elevation-z5">
                <tr>
                    <th scope="row">Дата последних изменений</th>
                    <th scope="row">Номер договора</th>
                    <th scope="row">Внутренний номер договора</th>
                    <th scope="row">Номер проекта</th>
                    <th scope="row">Название</th>
                    <AuthorizeView Roles="Admin">
                        <th scope="row"></th>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ContractsList.Contracts)
                {
                    <tr @ondblclick="()=>NavigateTo(item.Id)">
                        <td>@item.LastChanges.ToShortDateString()</td>
                        <td>@item.ContractNumber</td>
                        <td>@item.DomesticNumber</td>
                        <td>@item.ProjectNumber</td>
                        <td>@item.Name</td>
                        <AuthorizeView Roles="Admin, SuperUser">
                            <td>
                                <button class="btn btn-sm m-1 btn-outline-secondary" @onclick="@(async ()=> await EditContract(item.Id))"><span class="oi oi-pencil"></span></button>
                                @if (!context.User.IsInRole("SuperUser"))
                                {
                                    <button class="btn btn-sm m-1 btn-outline-danger" @onclick="@(async ()=> await DeleteContract(item.Id))"><span class="oi oi-trash"></span></button>
                                }
                            </td>
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
