@page "/users"

@using CheckerApp.Shared.Enums

@if (UsersList == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="UsersList" OnSubmit="SaveChanges">
        <div class="alert section-header mat-elevation-z5">
            <div class="row">
                <div class="col">
                    <h3>Список пользователей</h3>
                </div>
                <div class="col-2 control-panel d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary my-auto shadow"><span class="oi oi-check"></span> Сохранить</button>
                </div>
            </div>
        </div>
        <div class="table-container user-table mat-elevation-z5">
            <table class="table table-hover app-table">
                <thead class="mat-elevation-z5">
                    <tr>
                        <th scope="row">Id</th>
                        <th scope="row">Имя аккаунта</th>
                        <th scope="row">Ф.И.О.</th>
                        <th scope="row">Роль</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in UsersList.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.AccountName</td>
                            <td>@user.FullName</td>
                            <td>
                                <InputSelect class="form-control" @bind-Value="user.Role">
                                    <option value="@Role.User.ToString()">@Role.User.GetDisplayName()</option>
                                    <option value="@Role.SuperUser.ToString()">@Role.SuperUser.GetDisplayName()</option>
                                    <option value="@Role.Admin.ToString()">@Role.Admin.GetDisplayName()</option>
                                </InputSelect>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </EditForm>
}
