@page "/contract/detail/{id}"
@inject IContractService ContractService

@if (Contract == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">ContractId: @Contract.Id</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="font-weight-bold">Название: </p>
                        <p class="font-weight-bold">Номер договора: </p>
                        <p class="font-weight-bold">Внутренний номер: </p>
                    </div>
                    <div class="col">
                        <p class="">@Contract.Name </p>
                        <p class="">@Contract.ContractNumber </p>
                        <p class="">@Contract.DomesticNumber</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h4>Список оборудования: </h4>
                <a class="btn btn-primary" href="hardware/add">Добавить</a>
                <button class="btn btn-secondary">Удалить</button>
                <table class="table table-sm">
                    @foreach (var hardware in Contract.HardwareList)
                    {
                        <tr>
                            <td>@hardware.Id</td>
                            <td>@hardware.Position</td>
                            <td>@hardware.SerialNumber</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public string Id { get; set; }
    public ContractDetailVm Contract { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Contract = await ContractService.GetContract(int.Parse(Id));
    }
}
