@page "/"
@page "/contracts"
@inject IContractService ContractService
@inject NavigationManager NavigationManager


@if (contracts == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>Список договоров</h3>
    <MatTable Items="@contracts" Class="mat-elevation-z5" Striped="true" AllowSelection="true" OnRowDbClick="(item)=> NavigateTo(((ContractDetailVm)item).Id)">
        <MatTableHeader>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Номер договора</th>
            <th scope="col">Внутренний номер</th>
        </MatTableHeader>
        <MatTableRow>
            <td scope="col">@context.Id</td>
            <td scope="col">@context.Name</td>
            <td scope="col">@context.ContractNumber</td>
            <td scope="col">@context.DomesticNumber</td>
        </MatTableRow>
    </MatTable>
}

@code {

    IEnumerable<ContractDetailVm> contracts;

    protected override async Task OnInitializedAsync()
    {
        contracts = (await ContractService.GetContracts()).Contracts;
    }

    private void NavigateTo(int id)
    {
        NavigationManager.NavigateTo($"/contract/{id}/detail");
    }
}
