@page "/contract/{id}/addhardware"

@inject IHardwareService HardwareService
@inject NavigationManager NavigationManager

<h3 class="mb-3">Добавление нового оборудования:</h3>

<EditForm Model="@Command" OnValidSubmit="Submit">
    <FluentValidator />
    <p class="w-50">
        <h5>Шаг 1. Выберите тип оборудования:</h5>
        <MatSelectItem @bind-Value="@Command.HardwareType" Items="Enum.GetValues(typeof(HardwareType)).Cast<HardwareType>().ToArray()" Outlined="true" FullWidth="true">
            <ItemTemplate Context="type">
                @type.GetDisplayName()
            </ItemTemplate>
        </MatSelectItem>
    </p>

    <p class="">
        <h5>Шаг 2. Укажите параметры оборудования:</h5>

        @switch (Command.HardwareType)
        {
            case HardwareType.Cabinet:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="">
                            <MatTextField Label="Ответственный за монтаж" @bind-Value="Command.ConstructedBy" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.ConstructedBy"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatDatePicker Label="Дата завершения монтажа" @bind-Value="Command.Constructed" Outlined="true" Style="width: 100%;"></MatDatePicker>
                            <ValidationMessage For="()=> Command.Constructed"></ValidationMessage>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.FlowComputer:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель контроллера" @bind-Value="Command.DeviceModel" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="IP адрес" @bind-Value="Command.IPAddress" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.IPAddress"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Версия сборки" @bind-Value="Command.AssemblyVersion" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.AssemblyVersion"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Контрольная сумма" @bind-Value="Command.CRC32" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.CRC32"></ValidationMessage>
                        </div>
                        <div>
                            <MatNumericUpDownField Label="Дата последней конфигурации" @bind-Value="Command.LastConfigDate"
                                                   DecimalPlaces="0" Outlined="true" Style="width: 100%;"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.LastConfigDate"></ValidationMessage>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.Flowmeter:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <MatNumericUpDownField Label="Нижний диапазон измерений" @bind-Value="Command.MinValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MinValue"></ValidationMessage>
                        </div>
                        <div>
                            <MatNumericUpDownField Label="Верхний диапазон измерений" @bind-Value="Command.MaxValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MaxValue"></ValidationMessage>
                        </div>
                        <div>
                            <MatNumericUpDownField Label="К-фактор" @bind-Value="Command.KFactor" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.KFactor"></ValidationMessage>
                        </div>
                        <div class="mb-2">
                            <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" Style="width:100%"
                                           Items="new SignalType[] { SignalType.Frequency, SignalType.RS485 }">
                                <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                            </MatSelectItem>
                        </div>
                        <div class="mb-2">
                            <MatSelect Label="Единицы измерения" @bind-Value="Command.EU" Outlined="true" Style="width:100%">
                                <MatOptionString Value="м3">м3</MatOptionString>
                                <MatOptionString Value="тыс.м3">тыс.м3</MatOptionString>
                                <MatOptionString Value="Т">Т</MatOptionString>
                                <MatOptionString Value="кг">кг</MatOptionString>
                            </MatSelect>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.Network:

                break;
            case HardwareType.PLC:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель контроллера" @bind-Value="Command.DeviceModel" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="IP адрес" @bind-Value="Command.IPAddress" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.IPAddress"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Версия сборки" @bind-Value="Command.AssemblyVersion" Outlined="true" Style="width: 100%;"></MatTextField>
                            <ValidationMessage For="()=> Command.AssemblyVersion"></ValidationMessage>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.Pressure:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="">
                            <MatNumericUpDownField Label="Нижний диапазон измерений" @bind-Value="Command.MinValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MinValue"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatNumericUpDownField Label="Верхний диапазон измерений" @bind-Value="Command.MaxValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MaxValue"></ValidationMessage>
                        </div>
                        <div class="mb-2">
                            <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" Style="width:100%"
                                           Items="new SignalType[] { SignalType.Current, SignalType.Voltage, SignalType.HART }">
                                <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                            </MatSelectItem>
                        </div>
                        <div class="mb-2">
                            <MatSelect Label="Единицы измерения" @bind-Value="Command.EU" Outlined="true" Style="width:100%">
                                <MatOptionString Value="МПа">МПа</MatOptionString>
                                <MatOptionString Value="кПа">кПа</MatOptionString>
                                <MatOptionString Value="кгс/м2">кгс/м2</MatOptionString>
                            </MatSelect>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.Temperature:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Тип прибора" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель прибора" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="">
                            <MatNumericUpDownField Label="Нижний диапазон измерений" @bind-Value="Command.MinValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MinValue"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatNumericUpDownField Label="Верхний диапазон измерений" @bind-Value="Command.MaxValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                            <ValidationMessage For="()=> Command.MaxValue"></ValidationMessage>
                        </div>
                        <div class="mb-2">
                            <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" Style="width:100%"
                                           Items="new SignalType[] { SignalType.Current, SignalType.Voltage, SignalType.HART }">
                                <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                            </MatSelectItem>
                        </div>
                        <div class="mb-2">
                            <MatSelect Label="Единицы измерения" @bind-Value="Command.EU" Outlined="true" Style="width:100%">
                                <MatOptionString Value="МПа">Град С.</MatOptionString>
                            </MatSelect>
                        </div>
                    </div>
                </div>
                break;
            case HardwareType.Valve:
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <MatTextField Label="Позиция по проекту" @bind-Value="Command.Position" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.Position"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Серийный номер" @bind-Value="Command.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.SerialNumber"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Тип крана" @bind-Value="Command.DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceType"></ValidationMessage>
                        </div>
                        <div class="">
                            <MatTextField Label="Модель крана" @bind-Value="Command.DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                            <ValidationMessage For="()=> Command.DeviceModel"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-2">
                            <MatSelectItem @bind-Value="Command.SignalType" Label="Способ подключения" Outlined="true" Style="width:100%"
                                           Items="new SignalType[] { SignalType.Discrete, SignalType.RS485 }">
                                <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                            </MatSelectItem>
                        </div>
                    </div>
                    @if (Command.SignalType == SignalType.RS485)
                    {
                        <div class="col-sm-4">
                            <ModbusSettings Settings="Command.ModbusSettings" OnSettingsChanged="ChangeSettings"></ModbusSettings>
                        </div>
                    }
                </div>
                break;
        }

    </p>
    <div class="form-group">
        <MatButton type="submit" Raised="true" Icon="add"> Добавить</MatButton>
    </div>
</EditForm>


@code {

    [Parameter]
    public string Id { get; set; }

    HardwareType test = HardwareType.Cabinet;

    CreateHardwareVm Command = new CreateHardwareVm();

    void ChangeSettings(ModbusSettingsVm settings)
    {
        Command.ModbusSettings = settings;
    }

    async Task Submit()
    {
        Command.ContractId = int.Parse(Id);
        await HardwareService.AddHardware(Command);
        NavigationManager.NavigateTo($"/contract/{Command.ContractId}/detail");
    }
}
