<EditForm Model="Vm" OnValidSubmit="Submit">

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="position">Позиция по проекту</label>
        </div>
        <div class="col-sm-4">
            <InputText id="position" class="form-control" disabled="@Disabled" @bind-Value="Vm.Position"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="serial-number">Серийный номер</label>
        </div>
        <div class="col-sm-4">
            <InputText id="serial-number" class="form-control" disabled="@Disabled" @bind-Value="Vm.SerialNumber"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="device-model">Модель контроллера</label>
        </div>
        <div class="col-sm-4">
            <InputText id="device-model" class="form-control" disabled="@Disabled" @bind-Value="Vm.DeviceModel"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="ip-address">IP адрес</label>
        </div>
        <div class="col-sm-4">
            <InputText id="ip-address" class="form-control" disabled="@Disabled" @bind-Value="Vm.IP"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="assembly-version">Версия сборки</label>
        </div>
        <div class="col-sm-4">
            <InputText id="assembly-version" class="form-control" disabled="@Disabled" @bind-Value="Vm.AssemblyVersion"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="crc32">CRC32</label>
        </div>
        <div class="col-sm-4">
            <InputText id="crc32" class="form-control" disabled="@Disabled" @bind-Value="Vm.CRC32"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label" for="last-config-date">Дата последней конфигурации</label>
        </div>
        <div class="col-sm-4">
            <InputNumber id="last-config-date" class="form-control" disabled="@Disabled" @bind-Value="Vm.LastConfigDate"></InputNumber>
        </div>
    </div>

</EditForm>

@code {

    [Parameter]
    public FlowComputerVm Vm { get; set; }

    public bool Disabled { get; set; } = true;

    void Submit()
    {

    }
}
